# MATLAB backup files
*.asv
*.m~
*.mlx~
*.autosave

# Output folders and temporary files
output/
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Version control
*.git

#istg im so fucking jobless
#get a life glen you fucking loser
#if you read this ur also jobless